* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fffae4;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  align-items: center;
  background-color: #fcfcfc;
  transition: background-color 0.2s;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #00000040;
}

.scrolled {
  background-color: #fcfcfc;
}

nav {
  display: flex;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.menu-logo img {
  margin-top: 7px;
  margin-right: 15px;
  width: 140px;
}

.menu-1 {
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
}

.menu-1 a {
  margin-left: 12px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
}

.menu-1 a:hover {
  color: #1345e8;
}

.menu-2 {
  display: flex;
  width: 190px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-2 img {
  height: 20px;
}

.menu-2-login {
  border: none;
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  border-radius: 3px;
}

.menu-2-login:hover {
  color: #1345e8;
  border-color: #1345e8;
}

.menu-2-nova-conta {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
}

.menu-2-nova-conta:hover {
  opacity: 0.9;
}

.espaco-header {
  height: 65px;
}

.container-header {
  background-color: #151515;
  padding-left: 150px;
  padding-right: 150px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 5px;
  font-family: SF Pro display;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 100%;
}

.container-header img {
  cursor: pointer;
}

.cont-catalog {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.cont-box {
  background-color: #ffd83b;
  width: 100%;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  height: 170px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #00000040;
}

.cont-box p {
  font-family: Space grotesk;
  color: #000000;
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: 500;
  width: 550px;
  margin-left: 50px;
  align-items: center;
  height: 100%;
}

.cont-box img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 170px;
  border: 1px solid #00000040;
}

.secao-1 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 5px;
  height: 80px;
  display: flex;
}

.secao-1-conteudo {
  margin-left: 150px;
  margin-right: 150px;
  width: 100%;
  align-items: center;
}

.secao-1-conteudo h1 {
  font-family: Space Grotesk;
  font-size: 1.825rem;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

.box-pag {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 500;
  font-family: Space Grotesk;
  background-color: #ffd83b;
  margin-bottom: 70px;
  padding: 30px;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #00000040;
}

.box-pag a:hover {
  text-decoration: underline;
}

.box-pag a {
  color: #002dc0;
  text-decoration: none;
}

.cursos-destaque {
  margin-left: 150px;
  margin-right: 150px;
}

.cursos-destaque h5 {
  font-size: 23px;
  font-weight: 600;
  font-family: Space Grotesk;
}

.grade-cursos-destaque {
  display: flex;
  height: 300px;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 30px;
}

.curso-destaque {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.curso-destaque img:hover {
  opacity: 0.95;
}

.cursos-destaque img {
  width: 100%;
  padding: auto;
  height: 155px;
}

.grade-cursos-destaque h3 {
  font-size: 16px;
  margin-top: 0;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 600;
  font-family: SF UI Display;
}

.grade-cursos-destaque h4 {
  font-family: SF Pro Display;
  display: flex;
  color: #2e2e2e;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  align-items: center;
}

.grade-cursos-destaque p {
  color: #000000;
  font-family: SF Pro display;
  padding: 5px;
  background-color: #ffe476;
  width: max-content;
  font-size: 13px;
  font-weight: 600;
}

.cursos {
  width: 100%;
  margin-left: 20px;
}

.curso {
  gap: 20px;
  width: 100%;
  height: 170px;
  padding-top: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #00000040;
  display: flex;
}

.curso:hover {
  transition: 0.1s;
  opacity: 0.9;
}

.curso-link {
  text-decoration: none;
  display: flex;
  width: 100%;
}

.curso-text {
  height: max-content;
  display: block;
}

.curso-text legend {
  width: 590px;
  font-size: 14px;
  margin-top: 10px;
  padding: 0;
  color: #2e2e2e;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: SF Pro Display;
}

.curso-text h3 {
  font-size: 16px;
  margin-top: 0;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: SF UI Display;
}

.curso img {
  width: 255px;
  height: 150px;
}

.curso-text p {
  color: #000000;
  font-family: SF Pro display;
  padding: 5px;
  background-color: #ffe476;
  width: max-content;
  font-size: 13px;
  font-weight: 600;
}

.curso-text h4 {
  font-family: SF Pro Display;
  display: flex;
  color: #2e2e2e;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
  align-items: center;
}

.header-secao-cursos {
  margin-left: 150px;
  margin-right: 150px;
}

.header-secao-cursos p {
  font-size: 23px;
  font-weight: 700;
  font-family: Space Grotesk;
  margin-bottom: 30px;
  border-bottom: 1px solid #00000040;
  padding-bottom: 20px;
}

.secao-cursos {
  margin-top: 50px;
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
}

.grade-cursos {
  width: 100%;
  margin-bottom: 80px;
  text-decoration: none;
}

.grade-cursos a {
  color: #01256f;
  text-decoration: none;
}

.grade-cursos a:hover {
  text-decoration: underline;
}

#filtros {
  margin-right: 30px;
  min-height: 800px;
  min-width: 200px;
  max-width: 200px;
  font-family: Space grotesk;
}

#filtros h3 {
  font-family: Space grotesk;
  font-size: 20px;
}

#filtros label {
  font-size: 16px;
}

#filtros p {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}

#filtros hr {
  border: 0.5px dotted #000000;
}

#filtros span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 17px;
  padding-left: 5px;
}

.filtro {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.filtro img {
  width: 25px;
}

#btnFiltrar {
  display: none;
  border: none;
  color: #ffffff;
}

#btnLimparFiltros {
  align-items: center;
  color: #0000009f;
  background-color: #fffae4;
  font-weight: 600;
  font-family: SF UI display;
  margin-top: 2px;
  border: none;
  font-size: 14px;
  padding: 0;
  display: flex;
  cursor: pointer;
}

#btnLimparFiltros:active {
  opacity: 0.8;
}

input[type="checkbox"] {
  -webkit-appearance: none; /* Para navegadores WebKit (Safari, Chrome) */
  -moz-appearance: none; /* Para navegadores Gecko (Firefox) */
  appearance: none; /* Para outros navegadores */
  width: 20px;
  align-items: center;
  height: 20px;
  border: 2px solid #000000;
  outline: none; /* Para remover a borda de foco padrão */
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url(/img/icons8-done.svg);
  border-color: #0032d8;
  background-position: center;
}

#mensagemNenhumCurso {
  display: none;
  color: #000000;
  font-family: Sora;
  font-size: 18px;
  font-weight: 400;
  margin-left: 250px;
  width: 650px;
}

footer {
  background-color: #fcfcfc;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  max-height: 275px;
  display: flex;
  justify-content: space-between;
  font-family: Space grotesk;
  border-top: 1px solid #000000;
}

.footer-col-1 {
  padding-right: 50px;
  min-width: 200px;
}

.footer-col {
  display: flex;
  gap: 50px;
  border-right: 1px solid #000;
}

.footer-col-1 h1 {
  font-size: 16px;
  color: #000000;
}

.footer-col-1 a {
  font-size: 15px;
  text-decoration: none;
  display: block;
  margin-top: 13px;
  color: #000000;
}

.footer-img img {
  width: 250px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  padding: 5px;
  width: 130px;
  z-index: 1;
  border-radius: 3px;
}

.dropdown-content a {
  margin-top: 10px;
  color: #000000;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-family: Space grotesk;
}

.dropdown-content a:hover {
  color: #002dc0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
