* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fffae4;
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  align-items: center;
  background-color: #fcfcfc;
  transition: background-color 0.2s;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #00000040;
}

.scrolled {
  background-color: #fcfcfc;
}

nav {
  display: flex;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.menu-logo img {
  margin-top: 7px;
  margin-right: 15px;
  width: 140px;
}

.menu-1 {
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  list-style-type: none;
  margin-top: 5px;
}

.menu-1 a {
  margin-left: 12px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-family: Space grotesk;
  font-size: 15px;
}

.menu-1 a:hover {
  color: #1345e8;
}

.menu-2 {
  display: flex;
  width: 180px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-2-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Space grotesk;
  text-decoration: none;
  color: #000000;
  width: 70px;
  height: 37px;
  border: 1px solid #00000080;
  border-radius: 3px;
  font-weight: 700;
}

.menu-2-login:hover {
  color: #1345e8;
  border-color: #1345e8;
}

.menu-2-nova-conta {
  display: flex;
  width: 95px;
  height: 37px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Space grotesk;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffd83b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}

.menu-2-nova-conta:hover {
  opacity: 0.9;
}

.espaco-header {
  height: 65px;
}

.secao-1 {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  height: 400px;
  width: 100%;
  display: flex;
}

.secao-1 img {
  height: 370px;
  box-shadow: 7px 7px 0px #000000b0;
}

.secao-1-conteudo {
  align-items: center;
  height: max-content;
}

.secao-1-conteudo p:nth-child(1) {
  font-size: 55px;
  font-family: Inter;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 65px;
  width: 700px;
  display: flex;
  justify-content: start;
  color: #000000;
}

.secao-1-conteudo p:nth-child(2) {
  width: 95%;
  font-size: 17px;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: start;
  display: flex;
  font-family: SF Pro display;
  color: #f3f3f3;
}

.secao-1-conteudo a {
  display: flex;
  width: 200px;
  height: 52px;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: Space grotesk;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  padding: 0px;
  border-radius: 3px;
  background-color: #ffd83b;
  user-select: none;
}

.secao-1-conteudo div {
  margin-top: 40px;
  display: flex;
}

.secao-1-conteudo a:hover {
  opacity: 0.9;
}

.secao-2-3 {
  height: 235px;
  border-radius: 10px;
  background-color: #ffd83b;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.secao-2-3-conteudo p {
  font-family: SF Pro display;
  font-size: 1.1rem;
  margin-top: 20px;
  width: 75%;
}

.secao-2-3-conteudo h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.9rem;
}

.secao-2-3 a {
  text-decoration: none;
  font-size: 17px;
  font-family: Space grotesk;
  color: #fff;
  padding: 13px;
  width: 130px;
  justify-content: center;
  display: flex;
  font-weight: 500;
  background-color: #000000;
  border-radius: 3px;
}

.secao-2 {
  margin-top: 40px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  gap: 30px;
  justify-content: center;
  height: 400px;
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 1px solid #00000040;
}

.secao-2 img {
  width: 500px;
  height: 300px;
  user-select: none;
  border: 1px solid #00000040;
}

.secao-2-texto {
  width: 600px;
}

.secao-2-texto p:nth-child(1) {
  font-size: 1.9rem;
  text-align: start;
  display: flex;
  font-family: Inter;
  font-weight: 600;
  color: #000000;
}

.secao-2-texto p:nth-child(2) {
  font-size: 1.1rem;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: start;
  display: flex;
  font-family: SF Pro display;
  color: #000000;
}

.secao-2-texto p:nth-child(3) {
  font-size: 1.1rem;
  padding-bottom: 20px;
  text-align: start;
  display: flex;
  font-family: SF Pro display;
  color: #000000;
}

.espaco-secao-2 {
  height: 90px;
}

.header-secao-3 {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #00000040;
}

.header-secao-3 p:nth-child(1) {
  font-size: 1.9rem;
  text-align: start;
  display: flex;
  font-family: Inter;
  font-weight: 600;
  color: #000000;
  margin-top: 55px;
}

.secao-3 {
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #00000040;
  justify-content: center;
}

.secao-3 h1 {
  padding: 10px;
  padding-left: 0;
  padding-top: 15px;
  font-size: 2.125rem;
}

.secao-3-box {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.secao-3-card-box-text {
  margin-left: 10px;
}

.secao-3-card-box {
  align-items: center;
  display: flex;
  height: 180px;
  width: 570px;
  justify-content: space-between;
  user-select: none;
}

.secao-3-card-box img {
  height: 75px;
  padding-left: 40px;
  padding-bottom: 0;
}

.secao-3-card-box h1 {
  margin-top: 5px;
  font-size: 1.325rem;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Space grotesk;
  font-weight: 600;
  color: #000000;
}

.secao-3-card-box p {
  padding: 10px;
  width: 90%;
  font-size: 1rem;
  font-family: Inter;
  color: #000000;
  text-align: justify;
}

.espaco-secao-3 {
  height: 100px;
}

.secao-4 {
  background-color: #ffd83b;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  padding: 70px;
  border-radius: 10px;
}

.secao-4 p {
  font-family: SF Pro display;
  color: #000000;
  font-size: 1.1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.secao-4 h1 {
  font-size: 1.9rem;
  color: #000000;
  display: flex;
  font-family: SF Pro display;
  font-weight: bold;
  padding-bottom: 20px;
}

.secao-4 div {
  display: flex;
  justify-content: center;
  height: max-content;
}

.espaco-secao-4 {
  height: 100px;
}

footer {
  background-color: #fcfcfc;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  max-height: 275px;
  display: flex;
  justify-content: space-between;
  font-family: Space grotesk;
  border-top: 1px solid #000000;
}

.footer-col-1 {
  padding-right: 50px;
  min-width: 200px;
}

.footer-col {
  display: flex;
  gap: 50px;
  border-right: 1px solid #000;
}

.footer-col-1 h1 {
  font-size: 16px;
  color: #000000;
}

.footer-col-1 a {
  font-size: 15px;
  text-decoration: none;
  display: block;
  margin-top: 13px;
  color: #000000;
}

.footer-img img {
  width: 250px;
}
